input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

#header {
    /* position:fixed; */
    top: 0;
    left: 0;
    /* bottom: 100px; */
    z-index: 1;
    background-color: white;
    width: 100%;
    margin-bottom: 17vw;
}


#main {
    /* background-color: black; */
    z-index: 0;
    background-image: url(../IMG/backgorund/mainpagebackground.png);
    width:100%;
        height: 220vw;
    background-position: center center;
    background-size: cover;
}

#profile {
    float: right;
    font-size: 0.8vw;
}


#profile div {
    position: relative;
    top: 2.5vw;
    right: 3.5vw;
    /* margin-top: 2.5vw;
    margin-right: 3.5vw; */
}

#profile > div > a {
    padding: 0 1vw;
    color: black;
    text-decoration-line:none ;
}

#logo {
    display: inline-block;
    position: relative;
    left: 50%;
    right: 50%;
    padding-top:4vw;
    /* top: 5vw; */
    transform: translate(-50%);
    /* transform: translate(-50%); */
}

#search_box {
    margin-top: 7vw;
    height: 8vw;
}


#search_box > div > form {
    display:inline-flex;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    padding-left:1.3vw;
    padding-right: 0.5vw;
} 

#search_bar {
    font-size: 1.4vw;
    width: 32vw;
    height: 3.5vw;
    border: none;
}

#search_bar:focus {
    outline: none;
}

#search_bar::placeholder {
    font-size: 1vw;
    color: rgba(0, 0, 0, 1);
}

#search_box > div > form > button {
    width: 4vw;
    height: 3.5vw;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#search_icon {
    margin-top:0.2vw;
    /* margin-left:0; */
    width: 2.5vw;
}



#play {
    position: relative;
    /* margin-top: 37vw; */

    top: -10vw;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    width: 69vw;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: black; */
    grid-column-gap: 5vw;
    grid-row-gap: 2.5vw;
    /* padding: 1vw; */
}

.ex {
    margin: 0px;
    width: 32vw;
    height: 32vw;
    /* background-color: tomato; */
}

.dd {
    position: relative;
    /* left: 90px; */
    left: 5vw;

    
}

.show_hd {
    display:flex ;
}

.show_profile {
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    border: 5px solid blueviolet;
    border-radius: 100%;
    overflow: hidden;
}

.show_profile > img{
    width: 3.5vw;
    height: 3.5vw;
    border-radius:50%;
    object-fit: cover;

}

.show_inforamtio {
    display: grid;
    grid-template-rows: repeat(2 1fr);
}

.show_user_name {
    position: relative;
    left: 1.4vw;
    top: 1.4vw;
    top: 10px;
    color: black;
}

.show_uplod_day {
    position: relative;
    left: 18px;
    top: -6px;
    color:rgba(196, 196, 196, 1);
    font-size: 10px;
}

.tag_box {
    position: relative;
    top: 0.5vw;
    left: 1vw;
    display: inline-block;
    /* border: 1px solid black; */
}

.icon_box {
    
    /* background-color: slateblue; */
    /* float: right; */
    
    /* display:flex;
    justify-content: end; */
    position: absolute;
    top: 2vw;
    left: 20vw;
}

.tags {
    font-size: 0.5vw;
    /* font-size: 10px; */
}

.icon_love {
    font-size: 2vw;
    position: relative;
    right: 2.5vw;
}

.love_off {
    color: red;
    font-size: 2vw;
}

.icon_tag {
    font-size: 2vw;
    position: relative;
    right: 1vw;
}

.tag_off {
    color:skyblue;
    font-size: 2vw;
}

.show_img {
    position: relative;
    top: 14px;
    background-color: slateblue;
    width: 25vw;
    height: 25vw;
}

.show_img > img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}
#pp {
    position: relative;
    top: 0;
    left: 10;
}

#upload_box {
    position: fixed;
    top: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#input_bar {
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.3;
}

#upload_bt {
    position:fixed;
    top: 20vw;
    left: 90vw;
}

#upload_bt button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#input_box {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 33vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

#start_sub_logo {
    width: 18vh;
    margin-top: 1.3vw;
    margin-bottom: 4vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.login_class {
    margin-bottom: 20px;
    position: relative;
    left: 50%;
}

#title {
    height: 2vw;
}

#tag {
    height: 6vw;
}

#file {
    height: 10vw;
    
}

form input::file-selector-button { display: none; }



.start_lj_input {
    width: 23vw;
    font-size: 20px;
    transform: translate(-50%,0);
    border: 3px solid rgba(188, 181, 234, 1);    
    cursor:pointer;
}

.login_class label {
    position: absolute;
    left: -11vw;
    bottom: 1vw;
    font-size: 0.8vw;
    background-color: rgba(255, 255, 255, 0);
}

/*focus:,valid*/
.login_class input:focus + label,
.login_class input:valid + label{
    color: rgba(255, 255, 255, 0);
}

.login_class input:focus {
    width: 25vw;
    outline: none;
}

.login_class input {
    transition: 0.3s;
}

#login_submit {
    margin: 0 50%;
    margin-top: 0.6vw;
    margin-bottom: 8vw;
    transform: translate(-50%,0);  
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1vw;
    cursor:pointer;
    
}


