

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/login.css">
    <script>
        function movePage_login(){
            location.href = "/login";
        }

        function movePage_register(){
            location.href = "/join";
        }
    </script>
</head>

<body>
    <div id="start_background_img"></div>
    <div>
        <a href=""><img id="start_main_logo" class="logoImg" src="/IMG/logoIMG/MainLogo.png"
                alt="logo_mian(Logo)"></a>
        <div id="start_button_box">
            <button id="login_bt" class="start_button" onclick="movePage_login()">로그인</button>
            <button id="join_bt" class="start_button" onclick="movePage_register()">회원가입</button>
        </div>
        <div id="input_bar" style="height: 0;"></div>
        <div id="input_box">       
        </div>
    </div>
</body>

</html>