<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/mainstlye.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script>
        function movePage_main(){
            location.href = "/main";
        }
    </script>
</head>

<body>
    <div id="header">
        <div id="option">
            <div id="profile">
                <div>
                    <button>나의 프로필</button>
                    <button>프로젝트</button>
                </div>
            </div>
            <div id="logo">
                <img src="/IMG/logoIMG/LoginLogo.png" alt="">
            </div>
        </div>
        <div id="search_box">
            <div>
                <form action="" style="border-bottom: 5px solid rgba(188, 181, 234, 1);">
                    <input id="search_bar" type="search" placeholder="무엇이 궁금하신가요" autocomplete="off">
                    <button>
                        <img id="search_icon" src="/IMG/icon/search.png" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="play">
        </div>
    </div>
    <div id="upload_event">
        <div id="input_bar" style="height: 100%;"></div>
        <div id="upload_bt">
            <button><img src="/IMG/icon/button.png" alt=""></button>
        </div>
        <div id="upload_box">
            <div id="upload_bar">
                <div id="input_box">
                    <img id="upload_logo" src="/IMG/logoIMG/LoginLogo.png" alt="logo_main(LoginLogo)">
                    <button id="get_out_button" onclick="movePage_main()"><i class="fas fa-times get_out_icon"></i></button>                   
                    <form id="inputbox_form" action="">
                        <div class="upload_class">
                            <input type="text" id="title" class="upload_input" autocomplete="off" required>
                            <label for="title">제목을 입력하세요</label>
                        </div>
                        <div class="upload_class">
                            <textarea id="tag" placeholder="글쓰기" class="upload_input"></textarea>
                        </div>
                        <div class="upload_class">
                            <input type="file" id="file" class="upload_input" autocomplete="off" required>
                            <label for="file">사진가져오기</label>
                        </div>
                        <input type="submit" id="upload_submit" value="업로드">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/home/main.js"></script>
</body>
</html>