<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/mainstlye.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script>
        function movePage_profile(){
            location.href = "/profile";
        }

        function movePage_project(){
            location.href = "/project";
        }

        function movePage_main(){
            location.href = "/main";
        }

        function movePage_main_upload(){
            location.href = "/main_upload";
        }
    </script>
</head>

<<body>
    <div id="header">
        <div id="option">
            <div id="profile">
                <div>
                    <button onclick="movePage_profile()">나의 프로필</button>
                    <button onclick="movePage_project()">프로젝트</button>
                </div>
            </div>
            <div id="logo">
                <img src="/IMG/logoIMG/LoginLogo.png" alt="" onclick="movePage_main()">
            </div>
        </div>
        <div id="search_box">
            <div>
                <form action="" style="border-bottom: 5px solid rgba(188, 181, 234, 1);">
                    <input id="search_bar" type="search" placeholder="<%=description%>" autocomplete="off">
                    <button>
                        <img id="search_icon" src="/IMG/icon/search.png" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="play">
            <%
            for(var i=0; i<posts.length; i++)
            {
                var data = posts[i];
            %>
            <div class="ex">
                <div class="dd">
                    <div class="show_hd">
                        <div class="show_profile">
                            <img src="../IMG/icon/exprofile.png" alt="">
                        </div>
                        <div class="show_inforamtio">
                            <a class="show_user_name" href=""><%=data.id%></a>
                            <a class="show_uplod_day" href=""><%=data.description%></a>
                        </div>
                    </div>
                    <div class="hashtag">
                        <div class="tag_box">
                            <div class="tags">
                                오늘 진짜 디자인 끝낸다 오늘 진짜 디자인 끝낸다
                            </div>
                            <div class="tags">
                                오늘 진짜 디자인 끝낸다 오늘 진짜 디자인 끝낸다
                            </div>
                        </div>
                    </div>
                    <div class="show_img">
                        <div  class="icon_box">
                            <i  onClick = "love(event)" class="far fa-heart icon_love love_on"></i>
                            <i onClick = "hashtag(event)" class="fas fa-tag icon_tag tag_on"></i>
                        </div>
                        <img src="../IMG/icon/expetimg.jp" alt="">
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <div id="upload_event">
        <div id="input_bar" style="height: 0%;"></div>
        <div id="upload_bt">
            <button><img src="/IMG/icon/button.png" alt="" onclick="movePage_main_upload()"></button>
        </div>
        <div id="upload_box">
                      <!-- <p>Js data <%=description%></p> -->
        </div>
    </div>
    <script src="js/home/main.js"></script>
</body>

</html>