<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/mainstlye.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script>
        function movePage_profile(){
            location.href = "/profile";
        }

        function movePage_project(){
            location.href = "/project";
        }

        function movePage_main(){
            location.href = "/main";
        }

        function movePage_main_upload(){
            location.href = "/main_upload";
        }
    </script>
</head>

<<body>
    <div id="header">
        <div id="option">
            <div id="profile">
                <div>
                    <button onclick="movePage_profile()">나의 프로필</button>
                    <button onclick="movePage_project()">프로젝트</button>
                </div>
            </div>
            <div id="logo">
                <img src="/IMG/logoIMG/LoginLogo.png" alt="" onclick="movePage_main()">
            </div>
        </div>
        <div id="search_box">
            <div>
                <form action="" style="border-bottom: 5px solid rgba(188, 181, 234, 1);">
                    <input id="search_bar" type="search" placeholder="<%=description%>" autocomplete="off">
                    <button>
                        <img id="search_icon" src="/IMG/icon/search.png" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="play">
        </div>
    </div>
    <div id="upload_event">
        <div id="input_bar" style="height: 0%;"></div>
        <div id="upload_bt">
            <button><img src="/IMG/icon/button.png" alt="" onclick="movePage_main_upload()"></button>
        </div>
        <div id="upload_box">
            <% for(var i = 0; i< posts.length;i++){
                console.log("i love you");
            }
            %>
            <p>Js data <%=description%></p>
        </div>
    </div>
    <script src="js/home/main.js"></script>
</body>

</html>