<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/home/profilestlye.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>

<body>
    <div id="header">
        <div id="option">
            <div id="logo">
                <img src="/IMG/logoIMG/LoginLogo.png" alt="">
            </div>
            <div id="profile_section">
                <div>
                    <a href="" style="text-decoration:underline;">나의 프로필</a>
                    <a href="">프로젝트</a>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div id="profile">
            <div id="profile_content">
                <div id="profile_img_box">
                    <img src="/IMG/icon/exprofile.png" alt="">
                </div>
                <div id="user_information">
                    <table>
                        <tr>
                            <td>이름</td>
                            <td>오디오피</td>
                        </tr>
                        <tr>
                            <td>생년월일</td>
                            <td>2021.11.25</td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>ODOPOD@OPODOP</td>
                        </tr>
                        <tr>
                            <td>반려동물</td>
                            <td>고양이 - 오오디디- 3살</td>
                        </tr>
                    </table>
                </div>
            </div>
            <button id="chang_profile_bt">수정하기<i class="fas fa-pen pencil"></i></button>
        </div>
        <div>
            <div id="main_contant">
                <div id="post" class="form">
                    <div class="ex_a">
                        <a href="">나의 게시물</a>
                    </div>
                    <div id="post_section">
                        
                    </div>
                </div>
                <div id="bookmark" class="form">
                    <div class="ex_a">
                        <a href="" >나의 북마크</a>
                    </div>
                    <div id="bookmark_section">
                
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script src="/JS/home/profile.js"></script>
</body>

</html>