
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/login.css">
</head>

<body>
    <div id="start_background_img"></div>
    <div>
        <a href=""><img id="start_main_logo" class="logoImg" src="../IMG/logoIMG/MainLogo.png"
                alt="logo_mian(Logo)"></a>
        <div id="start_button_box">
            <button id="login_bt" class="start_button">로그인</button>
            <button id="join_bt" class="start_button">회원가입</button>
        </div>
        <div id="input_bar" style="height: 100%;"></div>
        <div id="input_box">
            <img id="start_sub_joinlogo" src="/IMG/logoIMG/LoginLogo.png" alt="logo_main(LoginLogo)">
            <form id="inputbox_form" action="">
                <div class="join_class">
                    <input type="text" id="join_name" class="start_lj_input" autocomplete="off" required>
                    <label for="join_name">이름</label>
                </div>
                <div class="join_class">
                    <input type="text" id="join_birth" class="start_lj_input" autocomplete="off" required>
                    <label for="join_birth">반려동물</label>
                </div>
                <div class="join_class">
                    <input type="text" id="join_email" class="start_lj_input" autocomplete="off" required>
                    <label for="join_email">이메일</label>
                </div>
                <div class="join_class">
                    <input type="text" id="join_id" class="start_lj_input" autocomplete="off" required>
                    <label for="join_id">아이디</label>
                    <label id="join_overlap" for="join_id">중복확인</label>
                </div>
                <div class="join_class">
                    <input type="password" id="join_pw" class="start_lj_input" autocomplete="off" required>
                    <label for="join_pw">비밀번호</label>
                </div>
                <input type="submit" id="join_sunbmit" value="회원가입">
            </form>
        </div>
    </div>
    <!-- <script src="../JS/index.js"></script> -->
</body>

</html>